html, body {
    margin: 0 !important;
    padding: 0 !important;
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    background-color: #f5f5f5;
}
.page-title p {
    font-size: 32px;
    color: #444;
    text-transform: uppercase;
    font-weight: 700;
    /* display: none; */
    margin: 48px 0 10px 0;
    text-align: center;
}
@media all and (min-width: 768px) {
    .page-title p {
        font-size: 48px;
        text-align: left;
    }
}
.purple {
    background-color: blueviolet;
}
.red {
    background-color: #F44336;
}

/* NAVIGATION */
#menu-btn {
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    /* border: 1px solid #444; */
    padding: 0 15px;
    position: fixed;
    z-index: 2;
    /* background-color: rgba(68, 68, 68, 0.5); */
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    transition: background-color 0.5s ease,
                box-shadow 0.5s ease;
}
#menu-btn p { font-size: 15px; }
#menu-btn:hover {
    background-color: #444;
    /* border-color: #eee; */
    box-shadow: 0px 0px 20px #444;
}
#menu-btn:hover p { color: #eee; }
#brand, #brand-min {
    float: right;
    box-sizing: border-box;
    overflow: hidden;
}
#brand-min {
    width: 10%;
    min-width: 70px;
}
#brand p, #brand-min p {
    font-size: 47px;
    text-transform: uppercase;
    color: #444;
    margin: 3px 0;
    font-weight: 700;
}
#brand { display: none; }
@media all and (min-width: 768px) {
    #brand-min { display: none; }
    #brand { display: block; }
}


/* NAVIGATION OVERLAY */
#nav-overlay {
    position: fixed;
    width: 100%;
    background-color: rgba(126, 87, 194, 1.0);
    margin-top: 0;
    z-index: 3;
    height: 100%;
    visibility: hidden;
    transition: visibility 0.5s ease-in-out;
}
#nav-overlay a { text-decoration: none; }
#close-menu {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.6);
    float: right;
    padding: 5px;
    margin-right: 10px;
    display: none;
}
#close-menu p { margin: 0; }
#close-menu:hover {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}
#close-menu-min {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    text-align: center;
    transition: color 0.2s ease-in-out;
}
#close-menu-min p { margin: 0; }
#close-menu-min:hover {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}
.nav-link {
    width: 60%;
    margin: 0px auto;
    border: 3px solid transparent
}
.nav-link p {
    font-size: 32px;
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}
.nav-link:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}
@media all and (min-width: 768px) {
    #close-menu { display: block; }
    #close-menu-min { display: none; }
}
@media all and (max-height: 340px) {
    #nav-overlay .row { margin: 5px 0; }
    .nav-link { margin: 0 auto; }
    .nav-link p {
        font-size: 28px;
        margin: 12px 0;
    }
}


/* HEADER */
header a { text-decoration: none; }
#img-container {
    /* border: 5px solid #444; */
    width: 60%;
    min-height: 400px;
    margin : 20px auto;
    display: none;
}
.link-btn {
    margin: 50px auto;
    border: 2px solid #444;
    padding: 10px;
    width: 70%;
    min-width: 206px;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;
}
.link-btn p {
    font-size: 28px;
    text-transform: uppercase;
    color: #444;
    text-align: center;
    margin: 0;
    text-decoration: none;
}
.link-btn:hover {
    background-color: #444;
    border-color: #eee;
}
.link-btn:hover p { color: #eee; }
#intro {
    margin: 0 auto;
    width: 100%;
}
#intro p {
    color: #444;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
}
#continue {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    color: #444;
}
#continue p:first-child {
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}
#continue p:last-child {
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    color: #F44336;
    /* color: #9575cd; */
}
@media all and (min-width: 768px) {
    #img-container { display: block; }
}


/* SKILLS */
#skills .row:first-child { margin-bottom: 0;}
#skills .row:nth-child(2) { margin-top: 0; }
.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-container div {
    padding: 5px 8px;
    border-right: 2px solid rgba(22, 22, 22, 0.4);
    font-size: 20px;
    margin: 5px 0;
}
.skill-container div:last-child {
    border: none;
}

.skill-title {
    border-bottom: 1px solid #444;
    padding: 5px 10px;
    font-size: 26px;
    text-transform: uppercase;
    color: rgba(60, 60, 60, 0.8);
    font-weight: 400;
    text-align: center;
}
@media all and (min-width: 768px) {
    /* #tools { margin: 0 25%; } */
}

/* FEATURED PROJECTS */
#proj .page-title p { text-align: center; }
#proj .row { text-align: center; }
.proj-tile-row {margin: 0;}
.proj-tile {margin: 20px 0;}
.proj-wrapper {
    text-align: center;
}
.proj-img {
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.proj-title,
.proj-cat {
    text-align: center;
    font-weight: 700;
}
.proj-title {
    color: #444;
    text-transform: uppercase;
    margin-bottom: 5px !important;
}
.proj-cat {
    color: rgba(239, 83, 80, 0.8);
    text-transform: uppercase;
    margin-top: 0px !important;
}
.proj-desc { text-align: center; }
.proj-link-btn {
    padding: 15px 15px;
    border: 2px solid #444;
    display: inline-block;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;
}
.proj-link-btn p {
    margin: 0px;
    color: #444;
}
.proj-link-btn:hover {
    background-color: #444;
    border-color: #eee;
}
.proj-link-btn:hover p { color: #eee; }
#space-rescue .proj-img { background-image: url('../repo/resources/imgs/space-rescue.PNG'); }
#infiltration-vr .proj-img { background-image: url('../repo/resources/imgs/infiltration-vr.jpg'); }
#pixel .proj-img { background-image: url('../repo/resources/imgs/pixel.PNG'); }
#colorz .proj-img { background-image: url('../repo/resources/imgs/colorz.PNG'); }
#react-dash .proj-img { background-image: url('../repo/resources/imgs/react-dashboard.PNG'); }
#netflix-clone .proj-img { background-image: url('../repo/resources/imgs/netflix-clone.PNG'); }

#more-proj-btn {
    margin-top: 150px;
    padding: 15px 15px;
    /* border: 2px solid #444; */
    background-color: #EF5350;
    display: inline-block;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;
}
#more-proj-btn p {
    margin: 0px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}
#more-proj-btn:hover {
    background-color: #444;
    /* border-color: #eee; */
}
#more-proj-btn:hover p { color: #eee; }

#mood-journal-banner {
    border: 1px solid #222;
    background-image: url('../res/img/Mood_Journal_Banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}
#mood-journal-banner p {
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
#mood-journal-banner p:first-child {
    font-size: 66px;
    font-weight: 700;
    margin-bottom: 20px;
}
#mood-journal-banner p:nth-child(2) {
    font-size: 52px;
    font-weight: 300;
}
@media all and (min-width: 768px) {
    #mood-journal-banner p:first-child { font-size: 38px; }
    #mood-journal-banner p:nth-child(2) { font-size: 28px; }
}
@media all and (min-width: 1024px) {

}
@media all and (max-width: 659px) {
    #more-proj-btn {
        margin-top: 50px;
    }
    #mood-journal-banner p:first-child { font-size: 38px; }
    #mood-journal-banner p:nth-child(2) { font-size: 28px; }

}

/* EXPERIENCE */
#exp .page-title p { text-align: center; }
.exp-item {
    width: 90%;
    margin: 10px auto;
    box-sizing: border-box;
    overflow: hidden;
}
.exp-img-wrapper {
    width: 30%;
    text-align: center;
    box-sizing: border-box;
    float: left;
    /* border: 1px solid #66BB6A; */
    display: none;
}
.exp-img {
    margin: 0 auto;
}
.exp-text-wrapper {
    width: 100%;
    font-weight: 300;
    color: #444;
    float: left;
    box-sizing: border-box;
    /* border: 1px solid #EF5350; */
    text-align: center;
    padding: 10px 0;
}
.exp-text-wrapper p:first-child,
.exp-text-wrapper p:nth-child(2) {
    font-weight: 400;
}
@media all and (min-width: 768px) {
    .exp-img-wrapper { display: block; }
    .exp-text-wrapper {
        width: 70%;
        padding-top: 20px;
    }
    .exp-right { text-align: right; }
    .exp-left { text-align: left; }
}


/* CONTACT */
#contact .row:first-child p {
    font-size: 18px;
    color: #444;
    margin: 20px;
}
#social-wrapper {
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.social-icon {
    width: 50%;
    box-sizing: border-box;
    float: left;
    border: 3px solid transparent;
    transition: background-color 0.2s ease-in-out;
}
.social-icon p {
    font-size: 62px;
    text-align: center;
    margin: 30px 0;
    color: #444;
}
/* .social-icon:hover { background-color: #444; } */
#facebook:hover { background-color: #1877f2; }
#github:hover { background-color: #ad5c51; }
#instagram:hover { background-color: #c32aa3; }
#linkedin:hover { background-color: #007bb5; }
#email:hover { background-color: #444; }
.social-icon:hover p { color: #fff; }
#contact .row:last-child p {
    text-align: center;
    color: #444;
}
#contact .row:last-child p a {
    text-decoration: underline;
    color: #444;
}
#email { width: 100%; }
@media all and (min-width: 768px) {
    .social-wrapper { width: 60%; }
    .social-icon { width: 20%; }
    #email { width: 20%; }
}
@media all and (min-width: 1024px) {
    #contact .row:first-child p { font-size: 48px; }
}
@media all and (min-width: 659px) {
    #contact .row:first-child p { font-size: 28px; }
}


/* FOOTER */
footer {
    width: 100%;
    background-color: #444;
}
footer p {
    padding: 5px;
    text-align: center;
    color: #ddd;
    margin: 0;
}
footer p i { color: rgba(126, 87, 194, 1.0); }

