/*
-----------------------------------------------------
                        General
-----------------------------------------------------
*/
    html,body{
        margin:0;
        padding:0;
    }
    body>div:first-child{ width:100%; }
    .block{ height:100vh; }
    .buffer{
        height:auto !important;
        padding: 0;
        padding:25% 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    #coding>.buffer{ background-image: url('../img/coding.png'); }
    #robotics>.buffer{ background-image: url('../img/robotics.png'); }
    #gaming>.buffer{ background-image: url('../img/gaming.png'); }
    #foodforfun>.buffer{ background-image: url('../img/food.png'); }
    #infocus>.buffer{ background-image: url('../img/infocus.png'); }
    #newron>.buffer{ background-image: url('../img/newron.png'); }
    #bridge>.buffer{ background-image: url('../img/newron.png'); }
    .parallax-block{
        background-color: #d5d5d5;
        overflow-y: hidden;
    }
    .parallax-block>div:nth-child(2){ height:90vh; }
    .heading h2{
        font-size: 3.5em;
        padding:0px 10px;
        text-align: center;
        font-family: 'Pacifico';
        text-shadow: 2px 2px 5px #4d4d4d;
    }
    .event-menu>div{
        text-align: center;
        font-family: 'Raleway';
        font-weight: 400;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px #121212;
        font-size: 24px;
        color:#333;
        text-decoration: none;
        padding:10px 0;
    }
    .event-menu>div:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #333;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .event-menu>div:hover:before{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .cardholder>div{
        height:80vh;
        /*border:1px solid white;*/
        margin-top:10px;
        padding:0;
    }
    .cardholder{
        overflow-y: hidden;
    }
    .card{
        position: absolute;
        height:100%;
        width:100%;
        background-color:#fff;
        box-shadow: 5px 5px 10px #121212;
        margin-top:65vh;
    }
    .envelope{
        background-color: #fbc02d;
    }
    #coderace,#atb,#cs,#xquizit,#shoot,#quiz,#bbuild{
        margin-top:0;
    }


    /* Extra small devices (phones, up to 480px) */
    @media screen and (max-width: 767px) {
        .title h2{ font-size: 4em; }
        .event-menu>div{font-size:1.5em !important;}
        .cardholder>div{ height:70vh; padding:5px 0; }
    }
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991px) {
        .title h2{ font-size: 4em; }
        .parallax-block{
            overflow-x:hidden;
        }
        .cardholder>div{ height:82vh; padding:5px 0; }
    }
    /* tablets/desktops and up ----------- */
    @media (min-width: 992px) and (max-width: 1199px) {
        .title h2{ font-size: 8em; }
        .card{ height:100%; }
        .parallax-block{
            overflow-y:hidden;
        }
        /*.cardholder>div{ height:82vh; padding:5px 0; }*/

    }
    /* large desktops and up ----------- */
    @media screen and (min-width: 1200px) {
        .title h2{ font-size: 8em; }
        .card{ height:100%; }
        .parallax-block{
            overflow-y:hidden;
        }

    }


/*
-----------------------------------------------------
                        Top
-----------------------------------------------------
*/
    #top{
        background:url('../img/back2.png') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

/*
-----------------------------------------------------
                        Bridge Designing
-----------------------------------------------------
*/
    /*#bridge>div:nth-child(2){
        height:65vh;
    }
    #bridge .bottom{
        height:90%;
    }*/


/*
-----------------------------------------------------
                        Navbar
-----------------------------------------------------
*/
    nav{
        margin-bottom:0 !important;
        padding-right: 10px;
        /*background: linear-gradient(#222,#333,#444,#555);*/
        /*background-color: transparent;*/
        border: none !important;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        display:block;
    }
    nav button{
        background-color: transparent !important;
    }
    nav button span{
        background-color: #fff !important;
    }
    #bs-example-navbar-collapse-1{
        border:none !important;
    }
    .navbar-brand{
        padding:10px 25px;
    }
    nav ul li a{
        color:#fff !important;
        position: relative;
        text-decoration: none;
        text-align: center;
    }
    nav ul li a:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    nav ul li a:hover:before{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

/*
-----------------------------------------------------
                        Footer
----------------------------------------------------
*/
    footer{
        background:#333;
        position: relative;
    }
    #social{ margin-left:32%; }
    #social a{
        font-size: 22px;
        color:#fff;
    }
    #social i{ margin:0 5px; }
    #social i:first-child{ margin-left:15px;}
    .facebook:hover i{ color:#43609C; }
    .instagram:hover i{ color:#9E7458; }
    .youtube:hover i{ color:#E62117; }
    #love{
        color:#f5f5f5;
        font-family: 'Lato';
        font-weight: 400;
        margin:5px;
    }
    #love a{ color:#f5f5f5; }
    /* Extra small devices (phones, up to 480px) */
    @media screen and (max-width: 767px) {
        #social{ margin-left:6%; }
        #love{ margin-left:10px; }
    }
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991px) {
        #social{ margin-left:16%; }
        #love{ margin-left:20px; }
    }
    /* tablets/desktops and up ----------- */
    @media (min-width: 992px) and (max-width: 1199px) {
        #social{ margin-left:30.5%; }
        #love{ margin-left:10px; }
    }
    /* large desktops and up ----------- */
    @media screen and (min-width: 1200px) {
        #social{ margin-left:30.5%; }
        #love{ margin-left:10px; }
    }

/*
-----------------------------------------------------
                    Schedule Button
-----------------------------------------------------
*/
    #schedule_btn{
        position: fixed;
        bottom:50px;
        right:25px;
        padding:20px;
        display: inline-block;
        border-radius: 50%;
        box-shadow: 5px 5px 10px #212121;
        background-color: #333;
        z-index: 2;
    }
    #schedule_btn>i{
        position: relative;
        font-size: 32px;
        color:#fff;
        text-shadow: 2px 3px 3px #212121;
    }
