body{
	background:#4f4f4f;
}
#tictactoe,
#pnd{
	height:86vh;
	border:1px solid black;
	filter:blur(2px);
}
.block_inner{
	height:43vh;
	border:1px solid black;
	filter:blur(2px);
}
.block_inner:hover{
	filter:none;
}
#tictactoe:hover,
#pnd:hover{
	filter:none;
}
#cv1{
	background-image: url('images/cv.png');
	background-size: cover;
	background-repeat :none;
}
#cv2{
	background-image: url('images/cv2.PNG');
	background-size: cover;
	background-repeat :none;
}
#tictactoe{
	background-image: url('images/tictactoe.png');
	background-size: cover;
	background-repeat :none;
}
#pnd{
	background-image: url('images/puffndrag.png');
	background-size: cover;
	background-repeat :none;
}

.buffer{
	height:20vh;
}