body{
	background:#4f4f4f;
}
.block{
	height:85vh;
	border:1px solid black;
	filter:blur(2px);
}
.block:hover{
	filter:none;
}
#cv{
	background-image: url('/images/cv.PNG');
	background-size: cover;
	background-repeat: :none;
}
#tictactoe{
	background-image: url('/images/tictactoe.PNG');
	background-size: cover;
	background-repeat: :none;
}
#pnd{
	background-image: url('/images/puffndrag.PNG');
	background-size: cover;
	background-repeat: :none;
}

.buffer{
	height:20vh;
}