html,body{
    margin:0;
    padding:0;
    background-image: url('../images/logo_x_pattern.png');
    width:100%;
}
body>.container-fluid{
    padding:0;
    margin:0;
    width:100%;
}
button{
    font-family: "Raleway";
    font-weight: 400;
    font-size: 19px;
}
strong{
    color:#ec3b2c;
}

/*HEADER*/
    #logo{
        margin-top:10px;
    }
    #header{
        /*border:1px solid black;*/
        background-color:rgba(255, 255, 255, 0.5);
        padding:0 !important;
        margin:0 !important;
    }
    #header h1{
        margin-left:30px;
        font-family: "Raleway";
        font-style: italic;
        font-weight: 700;

    }
    #stats{
        display: block;
        margin-top:10px;
        color:#ec3b2c;
    }
    #bk_cnt,#bkmrk_cnt{
        float: left;
        padding:5px 1px 5px 5px;
        font-family: 'Lato';
        font-weight: 400;
        font-style: italic;
        padding-bottom: 18px;
    }
    #bk_cnt{
        border-right:1px solid #5f5f5f;
    }

/*MAIN*/
    #main{
        padding:0;
    }
    /*LIST*/
        #tools{
            padding:10px;
        }
        #txtbox input{
            width:100%;
        }
        #search_btn{
            background-color:#ec3b2c;
        }
        #bk_list{
            height:60vh;
            overflow-y: scroll;
            /*border:1px solid red;*/
        }
        #list_bkmrk_btn button{
            width:100%;
            margin-top: 7px;
        }
        .bk_pill{
            padding:5px;
            border:3px solid  #ec3b2c;/*#ff6347;*/
            background-color: rgba(255, 255, 255, 0.7);
            margin-top:5px;
            margin-bottom:5px;
            cursor:pointer;
        }
        .bk_pill:hover{
            background-color: #FFB0B0;
        }
        .bk_title,.bk_cost{
            font-family: "Lato";
            font-weight: 400;
            font-style: italic;
            font-size: 16px;
        }
        .bk_cost{
            float:right;
            font-weight: 700;
            color:#85bb65;
        }
    /*DETAILS*/
        #heading{
            border-bottom: 1px solid #5f5f5f;
            font-family: "Raleway";
            font-weight: 400;
            font-size: 28px;
            font-style: italic;
            color:#ec3b2c;
        }
        .image{
            height:200px;
            margin-left:100px;
            border:3px solid #ec3b2c;
        }
        #desc div:first-child{
            margin-top:5px;
        }
        #bk_details,#bk_desc{
            font-family: "Lato";
            font-weight: 400;
            font-style: italic;
            font-size: 19px;
            background-color: rgba(255,255,255,0.6);
        }
        #bk_details{
            padding:15px;
            padding-left:30px;
        }
        #share_btn,#bkmrk_btn{
            margin:auto;
            font-size: 18px;
            border:3px solid #ec3b2c;
        }
        #bkmrk_btn:hover{
            background-color: #FFB0B0;
        }
        #bk_desc{
            height:25vh;
            overflow-y: scroll;
        }
