/*
====================================================
					    GENERAL															
====================================================
*/	
	html,body{
		width: 100%;
		height:100%;
		padding:0 0;
		margin:0 0;
	}
	.container-fluid{
		height: 100%;
		width: 100%;
		padding:0 0;
		overflow: hidden;
	}
	#slides{
		position:fixed;
		width:200%;
		height:200%;
	}
	.slide{
		position:absolute;
		width:50%;
		height:50%;
		/*border:1px solid black;*/
	}

/*
====================================================
						NAV															
====================================================
*/
	nav{
		padding-right:2%;
	}
	.navbar-inverse{
		background-color: rgba(0,0,0,0.4);
		border:none;
	}
	.navbar-left li{
		padding-top: 3px;
		padding-left: 10px;
	}
	.navbar-brand{
		padding:5px 30px;
	}

/*
====================================================
						HOME															
====================================================
*/
	#home{
		background-image: url('../images/backgrounds/home2.jpg');
		background-repeat: no-repeat; 
		background-size: cover;
	}
	#home .row{
		width:100%;
	}
	#home_title{
		margin: 3% auto auto 12.5%;
		animation:fadein 4s;
		-moz-animation:fadein 4s;
		-webkit-animation:fadein 4s;
	}
	#logo{
		margin-top: 2%;
		margin-left:37.5%;
		opacity:0.8;
	}
	#home .row:first-child{margin-top:6%;}
	@keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}
	@-moz-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}
	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}
	@media screen and (max-width:992px){
		#logo{
			margin-top:20vh;
			margin-left: 20.835%;
		}
		#home_title{
			margin-top: 10vh;
			margin-left: 4.17%;
		}
	}

/*
====================================================
						ABOUT															
====================================================
*/
	#about{
		transform:translateY(100%);
		-moz-transform:translateY(100%);
		-webkit-transform:translateY(100%);
		background-image: url('../images/backgrounds/home1.jpg');
		background-repeat: no-repeat; 
		background-size: cover;
	}
	#abt_cont{
		background: rgba(0,0,0,0.5);
		color:white;
		padding:2% 3%;
		margin:8% auto auto 12.5%;
	}
	#abt_cont p:first-child{
		font-family: 'Lato';
		font-weight: 300;
		font-size: 42px;
		text-decoration: underline;
	}
	#abt_cont p:nth-child(2){
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
	}
	#abt_cont p:nth-child(2) strong{
		font-size: 24px;
	}
	@media screen and (max-width:992px){
		#abt_cont{
			margin-left: 8.335%;
			margin-top: 15%;
		}
	}

/*
====================================================
					  SHOWCASE															
====================================================
*/	
	#showcase{
		transform:translate(100%,100%);
		-moz-transform:translate(100%,100%);
		-webkit-transform:translate(100%,100%);
		background-image: url('../images/backgrounds/home3.jpg');
		background-repeat: no-repeat; 
		background-size: cover;
	}
	#showcase>.row:first-child{
		margin-top:5%;
	}
	#showcase>.row:first-child>div{
		background: rgba(0,0,0,0.4);
		margin-left: 12.5%;
	}
	#showcase>.row:first-child>div p{
		color: white;
		font-family: 'Lato';
		font-weight: 300;
		font-size: 48px;
		text-align: center;
	}
	#showcase>.row:nth-child(2)>div{
		height:70vh;
		margin-top:1.5%;
		background: rgba(0,0,0,0.5);
		overflow-x:scroll; 
		padding:0 0;
	}
	#pic_out{
		width:200vw;
		height:100%;
		padding:1% 1.5%;
	}
	#pic_in{
		width:100%;
		height:100%;
		border:1px solid rgba(255,255,255,0.8);
	}
	@media screen and (max-width:992px){
		#showcase>.row:first-child>div{
			margin-left: 4.17%;
			margin-top:5vh;
		}
		#showcase>.row:nth-child(2)>div{
			height:80vh;
			margin-top:2vh;
		}
	}

/*
====================================================
					  CONTACT															
====================================================
*/
	#contact{
		transform:translateX(100%);
		-moz-transform:translateX(100%);
		-webkit-transform:translateX(100%);
		background-image: url('../images/backgrounds/home4.jpg');
		background-repeat: no-repeat; 
		background-size: cover;
	}
	#contact .row:first-child{
		margin-top:5%;
	}
	#contact .row:first-child div{
		background: rgba(0,0,0,0.5);
		margin-left: 4.125%;
	}
	#contact .row:first-child div p{
		color:white;
		font-family: 'Lato';
		font-weight: 300;
		font-size: 48px;
	}
	#contact .row:nth-child(3) div{
		margin-top:2%;
		background: rgba(0,0,0,0.5);
		padding: 0.5% 0;
	}
	#contact .row:nth-child(3) div p{
		color:white;
		font-family: 'Lato';
		font-weight: 300;
		font-size: 20px;
		text-align: center;
	}
	#contact .row:nth-child(3) div p a{color:white;}
	#contact>.row:nth-child(2){
		margin-top:2%;
	}
	#contact>.row:nth-child(2)>div{
		background: rgba(0,0,0,0.5);
		height:50vh;
		padding: 1% 5%;  
	}
	#contact>.row:nth-child(2)>div:first-child{
		margin-right: 1%;
	}
	#contact>.row:nth-child(2)>div:nth-child(2) .row p{
		font-family: 'Lato';
		font-weight: 300;
		font-size: 22px;
		color:white;
		text-align: center;
	}
	#contact>.row:nth-child(2)>div:nth-child(2) .row p strong{
		font-weight: 300;
		font-size: 26px;
	}
	@media screen and (max-width:992px){
		#contact>.row:first-child{
			margin-top: 10vh;
		}
		#contact>.row:nth-child(2)>div:nth-child(2){
			margin-top: 3vh;
			height:30vh;
			margin-left:16.67%;
		}
		#contact>.row:nth-child(2)>div:nth-child(1){
			margin-top: 5vh;
			height:20vh;
		}
		#contact>.row:nth-child(2)>div:nth-child(2){
		}
	}