html, body{
	margin:0 !important;
	padding:0 !important;
}
body>div{
	width:100%;
	margin:0 !important;
	padding:0 !important;
	overflow-x: hidden;
}
body{
	background-color:#f5f5f5;
	background: url('../img/background/diagmonds.png') repeat;
}


/* NAVIGATION */
	.navbar-brand{
		/*font-family: Parchment;*/
		font-family: 'Great Vibes',cursive;
		font-size: 32px;
		color:#e53935 !important;
		padding: 20px 15px 5px 15px;
	}
	.navbar-brand:focus{ color:#f5f5f5 !important; }
	.navbar{
		border-radius:0;
		border:none;
	}
	.navbar-inverse{
		background-color: rgba(20,20,20,0.9) !important;
		color:#f5f5f5;
	}
	.navbar-right .active>a:focus,
	.navbar-right .active>a{ background-color: transparent !important; }
	.navbar-nav > li > a{
		color:#e5e5e5 !important;
	}
	.navbar-nav > li > a > span{ color:#e53935 !important; }
	.dropdown>ul{
		background-color: rgba(20,20,20,0.9) !important;
		color:#e53935;
	}
	.dropdown>ul>li>a{ color:#d5d5d5; }

/* SEARCH ROW */
	#search-row{
		position: fixed;
		width: 101%;
	}
	#search-row>div{
		background-color: rgba(20,20,20,0.7);
		padding: 10px;
		margin-left:100%;
		width:45%;
	}
	#search-row>div input[type="text"]{
		background-color: transparent;
		border:none;
		color:#d5d5d5;
		border-bottom: 1px solid #d5d5d5;
		width:70%;
		padding:5px 5px 3px 5px;
	}
	#search-row>div input[type="submit"]{
		border:1px solid #f5f5f5;
		background-color: transparent;
		color:#f5f5f5;
		padding:5px;
		border-radius:4px;
	}

/* MAIN */
	#main{ 
		background-color:#f5f5f5; 
		background-image:url('../img/background/symphony.png');
		background-repeat: repeat;
		padding:20px;
	}


/* FOOTER */
	footer{
		padding:20px 50px 0 50px;
		background-image:url('../img/background/diagmonds.png');
		background-repeat: repeat;
		background-position: fixed;
	}
	.footer-title{
		/*font-family: Parchment;*/
		font-family: 'Great Vibes',cursive;
		font-size:48px;
		text-align: center;
		font-weight: 100;
		/*color: #e53935;*/
		color:#ddd;
		margin:0;
	}
	footer hr{
		border-color:#e53935;
		border-width: 1px;
	}
	.social-tag{
		margin-top:20px;
		font-family: 'Raleway';
		font-weight: 300;
		font-size:20px;
		color:#eee;
		text-align: center;
	}
	#social{ 
		margin-top:10px;
		margin-bottom:20px;
		text-align: center; 
	}
	#social div i{ 
		font-size:22px; 
		color:#ddd; 
	}
	#links{ margin-bottom:5px; }
	#links>div{ text-align: center; }
	#links>div>p{
		font-family: 'Raleway';
		font-weight: 400;
		color: #f5f5f5;
		text-align: center;
		font-size:14px;
		text-decoration: underline;
		text-decoration-color: #e53935;
	}
	#links a{
		font-family: 'Raleway';
		font-weight: 300;
		color: #f5f5f5;
		text-align: center;
		font-size:12px;
		margin:0;
	}
	#copyright_statement{
		color: #f5f5f5;
		font-family: 'Raleway';
		font-weight: 200;
		font-size: 14px;
		margin:0;
	}	


/* MODAL */
	.modal-header,.modal-footer{
		background-color:#222;
		background-image:url('../img/background/diagmonds.png');
		background-repeat: repeat;
		background-position: fixed;

	}
	.modal-header{
		font-family: 'Great Vibes',cursive;
		font-size:46px;
		color:#f5f5f5;
		text-align: center;
	}
	.modal-footer button{
		font-family: 'Raleway' !important;
		font-weight: 400 !important;	
	}
	.modal-heading{
		font-family: 'Raleway';
		font-weight: 300;
		font-size:28px;
		color: #e53935;
		text-align: center;
		text-decoration: underline;
		text-decoration-color: #222;
		text-transform: uppercase;
	}
	.modal-body{ display:block; }
	.modal-body form{
		border:2px solid #7f7f7f;
		display: inline-block;
		padding: 30px 80px;
		margin:20px auto;
		font-family: 'Raleway';
		font-weight: 300;
		font-size:16px;
		color:#2d2d2d;
		margin-left:20%;
	}
	.modal-body form>input[type='text'],
	.modal-body form>input[type='password']{
		border:none;
		border-bottom:2px solid #2d2d2d;
	}
	
