html, body{
	margin:0 !important;
	padding:0 !important;
}
body>div{
	width:100%;
	margin:0 !important;
	padding:0 !important;
}
body{
	background-color:#f5f5f5;
}

/* HEADER */
	header{
		display: inline-block;
		width:100%;
	}
	header>div{
		height:100%;
		padding:10px 5px;
		/*margin-top: 20%;*/
		display: inline-block;
	}
	header>div:nth-child(2){
		font-family: 'Galada';
		text-align: center;
	}
	header>div:nth-child(2) p{
		margin:0;
	}
	header>div:nth-child(2) strong{
		color:#2d2d2d;
		font-size: 46px;
	}
	header>div:nth-child(2) sub{
		color:#5d5d5d;
		font-size: 26px;
	}
	header>div:nth-child(3){
		font-family: 'Raleway';
		font-weight: 400;
		font-size: 18px;
		color:#4d4d4d;
		text-align: center;
		color:#2d2d2d !important;
	}
	header>div:nth-child(3)>a,header>div:nth-child(3){
		text-align: center;
		color:#2d2d2d;
		font-weight: 300;
		cursor: pointer;
	}
	header>div:nth-child(3)>a:hover div{
		color:#4caf50;
		font-weight: 400;
		transition:all 0.3s ease-in-out;
	}
	header>div:nth-child(3)>div:hover{
		color:#e53935;
		font-weight: 400;
		transition:all 0.3s ease-in-out;
	}
	header>div:first-child{
		margin-top:0;
	}
	header>div:nth-child(2),
	header>div:nth-child(3){
		margin-top:1.5%;
	}

/* NAVIGATION */
	.navbar{
		margin:0; 
		border-radius: 0px;
		border:none;
		font-family: 'Raleway';
		font-weight:300;
	}
	#searchbar{
		padding:8px 15px 8px 5px;
		float:left !important;
	}
	#searchbar input{
		background-color: transparent !important;
		border:none !important;
		border-bottom:1px solid #fff !important;
		color:#fff !important;
		border-radius: 0 !important;
	}
	#searchbar button{
		background-color: transparent !important;
		border:1px solid white !important;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	#cart{
		color:#f5f5f5;
		padding:8px;
		margin:5px 0px;
		cursor: pointer;
	}

/* MAIN */
	/* CAROUSEL */
		#updates{
			margin-bottom:50px;
		}
		.carousel-inner>.item{
			background-size: cover;
			background-repeat: no-repeat;
			width:100%;
			height:100%;
		}
		.carousel-inner>.item:first-child{ background-image:url("../img/carousel_img/p4.jpg"); }
		.carousel-inner>.item:nth-child(2){ background-image:url("../img/carousel_img/p5.jpg"); }
		.carousel-inner>.item:nth-child(3){ background-image:url("../img/carousel_img/p2_n.jpg"); }
		.carousel-caption{
			background: rgba(0,0,0,0.7); 
		  	background: -webkit-linear-gradient(left, rgba(255,255,255,0) , rgba(0,0,0,0.7) , rgba(255,255,255,0)); 
		  	background: -o-linear-gradient(right, rgba(255,255,255,0) , rgba(0,0,0,0.7) , rgba(255,255,255,0)); 
		  	background: -moz-linear-gradient(right, rgba(255,255,255,0) , rgba(0,0,0,0.7) , rgba(255,255,255,0)); 
		  	background: linear-gradient(to right, rgba(255,255,255,0) , rgba(0,0,0,0.7) , rgba(255,255,255,0));
		}
		.caption-heading{
			font-family: 'Raleway';
			font-weight: 300;
			font-size:28px;
		}
		.caption-body{
			font-family: 'Raleway';
			font-weight: 200;
			font-size:16px;
		}

	.category{		
		margin:50px 50px;
	}
	.category-heading{
		text-transform: uppercase;
		font-family: 'Raleway';
		font-size:32px;
		font-weight: 300;
		color:#2d2d2d;
		border-bottom:4px solid #e53935;
	}
	.category-body{
		margin:20px 30px;
		padding:100px 0;
		border:1px solid #2d2d2d;
	}

	/* ABOUT */
		#about{		
			margin:50px 50px;
		}
		#about>p:first-child{
			font-family: 'Raleway';
			font-size: 32px;
			font-weight: 300;
			color:#2d2d2d;
			text-transform: uppercase;
			border-bottom:4px solid #e53935;
		}
		#about>p:nth-child(2){
			margin: 20px 30px;
			font-family: 'Raleway';
			font-size: 18px;
			font-weight: 300;
			padding:5px 20px;
		}

/* FOOTER */
	footer{
		padding:30px 30px 10px 30px;
		background-color: #1d1d1d;
	}
	.footer-heading{
		font-family: 'Galada';
		color: #e53935;
		text-align: center;
		font-size: 42px;
	}
	footer hr{
		border-color: #e53935;
	}
	#contact>p:first-child,
	#like>p:first-child{
		font-family: 'Raleway';
		font-weight: 300;
		font-size: 24px;
		color: #f5f5f5;
		text-align: center;
		text-transform: uppercase;
		text-decoration: underline;
		text-decoration-color: #e53935;
		margin:40px 0;
	}
	#like{
		border-left: 2px solid #e53935;
		padding-bottom:30px;
	}
	#like>div{
		margin:10px auto 10px 40%;
	}
	#like>div,
	#like>div a{
		color:#f5f5f5;
		font-size: 16px;
		font-family: 'Raleway';
		font-weight: 300;
	}
	#like>div a:hover{
		text-decoration: none;
	}
	#copyright_statement{
		color: #f5f5f5;
		font-family: 'Raleway';
		font-weight: 200;
		font-size: 14px;
		margin:0;
		margin-top:50px;
	}

/* LOGIN MODAL */
	.modal-header,.modal-footer{
		background-color:#222;
	}
	.modal-header{
		font-family: 'Galada';
		font-size:46px;
		color:#f5f5f5;
		text-align: center;
	}
	.modal-footer button{
		font-family: 'Raleway' !important;
		font-weight: 400 !important;	
	}
	.modal-heading{
		font-family: 'Raleway';
		font-weight: 300;
		font-size:28px;
		color: #e53935;
		text-align: center;
		text-decoration: underline;
		text-decoration-color: #222;
		text-transform: uppercase;
	}
	.modal-body{
		display:block;
	}
	.modal-body form{
		border:2px solid #7f7f7f;
		display: inline-block;
		padding: 30px 80px;
		margin:20px auto;
		font-family: 'Raleway';
		font-weight: 300;
		font-size:16px;
		color:#2d2d2d;
		margin-left:20%;
	}
	.modal-body form>input[type='text'],
	.modal-body form>input[type='password']{
		border:none;
		border-bottom:2px solid #2d2d2d;
	}