/*GENERAL*/
  body{
    margin: 0;
    padding: 0;
    /*background: #f5f5f5;*/
    width: 100%;
    height: 100%;
    background: url(../img/patterns/diagmonds.png) repeat;
    background-color: #2d2d2d;
  }
  body > div{
    padding: 0 !important;
    margin:  0 !important;
    background: transparent;
  }
  .outer-block{
    width:100%;
    padding:0 !important;
  }
  .title h2{
    font-family: Raleway;
    font-weight: 400;
    color: #020202;
    text-transform: capitalize;;
    border-bottom: 1px solid #2d2d2d;
    padding: 0 10px;
  }
  .content{
    /*width: 60%;*/
    margin-top:30px;
  }
  .content p{
    font-family: Raleway;
    font-weight: 400;
    font-size: 17px;
    color: #020202;
  }
  .content-img{
    padding: 80px 30px;
  }

/*HEADER*/
  header{
    height:100%;
    width:100%;
    background-image: url('../img/backgrounds/back1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  header div{
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.6);
    margin:17.8em auto;
  }
  header div > p{
    font-family: Raleway;
    font-weight: 600;
    font-size: 72px;
    color: #f5f5f5;
    text-transform: uppercase;
  }

/*INTRODUCTION*/
  #intro{
    background-color: #f5f5f5;
  }
  #intro > .inner-block{
    float: left;
    text-align: left;
    height: 51.5em;
    margin: 1em auto;
  }
  #intro > .inner-block > .content > p{
    font-family: 'Raleway';
    font-size:18px;
    font-weight: 400;
    color: #2d2d2d;
  }
  #intro > .inner-block > .content > p > strong{
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 400;
    color: #2d2d2d;
  }

/*SKILLSET*/
  #skillset{
    background-color: #dee0e1;
    padding-bottom: 10px !important;
  }
  #skillset > .inner-block{
    float: right;
    text-align: right;
    height: 51.5em;
    margin: 1em auto;
  }
  #skillset .content-img{
    margin-top:50px;
    margin-left:0px;
    /*background-color:white;*/
  }
  /*#skillset .content-img img{
    background-color: red;
  }
  #skillset .content{
    background-color: green;
  }*/
  #skillset .content > div > div{
    /*border:1px solid black;*/
    text-align: center;
    font-family: Raleway;
    font-weight: 200;
    color: #2d2d2d;
  }
  #skillset .content > div > div > h3{
    text-decoration: underline;
    text-align: right;
  }
  #skillset .content > div > div ul{
    /*padding:0;*/
    list-style: none;
    text-align: right;
  }
  #skillset .content > div > div ul > li{
    padding:15px;
    /*border: 1px solid #2d2d2d;*/
    border-left: 2px solid #2d2d2d;
    border-right: 2px solid #2d2d2d;
    border-radius: 0 5px 5px 0;
    margin-left: 30px;
    /*padding: 2px 10px;*/
    margin-bottom: 3px;
    position: relative;
    display: block;
  }
  #skillset .content > div > div ul > li > span{
    font-family: Raleway;
    font-weight: 400;
    color: #2d2d2d;
    /*color: #f5f5f5;*/
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 2px;
  }
  .level-text{
    margin-right: 5px;
  }
  .level{
    background : red;
    width: 78%;
    height: 25px;
    border-radius: 5px;
  }
  #web .level{ background-color: #EF5350; }
  #prog .level{ background-color: #64B5F6; }
  #framewrk .level{ background-color: #8BC34A; }
  #tools .level{ background-color: #FFCA28; }

/*SHOWCASE*/
  #showcase{
    background-color: #d1d1d1;
  }
  #showcase > .inner-block{
    float: left;
    text-align: left;
    height: 51.5em;
    margin: 1em auto;
  }
  #showcase  .content{
    /*overflow-x: scroll;*/
    margin-top: 15px;
    padding:10px 5px;
  }
  #showcase .content-title{
    font-family: Raleway;
    font-weight: 400;
    color:#2d2d2d;
    text-align: center;
  }
  #websites .mini-block{
    /*border: 1px solid black;*/
    padding: 5px 10px;
    /*height: 180px;*/
  }
  #mobile .mini-block{
    /*border: 1px solid black;*/
    /*height: 300px;*/
  }

/*EXPERIENCE*/
  #exp{
    background-color: #dee0e1;
  }
  #exp > .inner-block{
    float: right;
    text-align: left;
    height: 51.5em;
    margin: 1em auto;
  }
  #exp > .inner-block > .content > h4{
    font-size:32px;
    font-weight: 600;
    text-transform: uppercase;
  }
  #exp .content-img{
    margin-top: 20px;
  }

/*MORE*/
  #more{
    background-color: #d1d1d1;
  }
  #more > .inner-block{
    float: left;
    text-align: left;
    height: 51.5em;
    margin: 1em auto;
  }
  #more ul{
    list-style: none;
  }
  .school-name span{
    text-decoration: underline;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
    color: #2d2d2d;
  }
  #more > .inner-block > .content > div > ul > li > ul > li{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    color: #2d2d2d;
  }
  #more > .inner-block > .content > div > ul > li{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #2d2d2d;
  }


/*CONTACT*/
  #contact{
    height:50.5em;
    width:100%;
    background: #f5f5f5;
    position: relative;
    padding: 0 1em !important;
    background-image: url(../img/W_2013_200.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  #contact > .title{ text-align: center;}
  #contact > .overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  #contact > .inner-block{
    text-align: center;
    background: rgba(0,0,0,0.8);
    height:100%;
    color: #f5f5f5;
  }
  #contact > .inner-block h2,
  #contact > .inner-block p{
    font-family: Raleway;
    font-weight: 400;
    color:#f5f5f5;
  }
  #contact > .inner-block p{
    font-size: 18px;
    text-align: justify;
  }
  #contact > .inner-block > .title > h2{
    padding-bottom: 10px;
    text-align: right;
    border-bottom:1px solid #d0d0d0;
  }
  #contact > .inner-block > .content{
    margin-top:100px;
  }
  #contact .contact-icons{
    font-size: 26px;
    text-align: right;
  }
  #contact .social-block{
    margin-top: 150px;
  }
  #contact .social-block .social-icons{
    padding: 45px;
    background: rgba(0,0,0,0.8);

  }
  #contact .social-block .social-icons:hover{
    /*background: rgba(20,20,20,0.8);*/
    background: rgba(0,0,0,0.2);
  }
  #contact .social-block .social-icons i{
    font-size: 52px;
    color: #d2d2d2;
  }
  #CV,
  #resume{
    margin-top:50px;
  }
  #CV a,
  #resume a{
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    color: #e53935;
    text-decoration: None;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #e53935;
  }
  #love{
    padding: 10px 20px;
    margin-top: 40px;
  }
  #love > p{
    text-align: center !important;
    font-size: 14px !important;
  }

/*FOOTER*/
  footer{
    font-family: Raleway;
    font-weight: 400;
    color:#f5f5f5;
    font-size:12px;
    text-align: center;
    padding-top:10px;
  }

