/*GENERAL*/
	html,body{
		background-color: #2f2f2f;
		background-image: url("../images/backgrounds/dark_wood.png");
		background-repeat:repeat;
	}
	.block{
		min-height: 100vh;
		background: #fffafa;
		color: #2f2f2f;
		/*border:1px solid black;*/
		position: relative;
		background-image: url("../images/backgrounds/linedpaper.png");
		background-repeat:repeat;
	}
	.title{
		border-bottom: 2px solid #8f8f8f;
		margin-top: 6vh;
	}
	.title h2{
		color:#2f2f2f;
		font-family: "Lato";
		font-style: italic;
		font-weight: 300;
		/*font-family: "Indie Flower";*/
		font-size: 50px;
	}
	#main{
		width:100%;
		position: absolute;
	}
	.content{
		font-family: "Indie Flower";
		font-size: 26px;
		margin-left:4.17%;
		padding-top:3%;
	}
	.row,.row-fluid{
		height:auto;
	}
	@media screen and (max-width:992px){
		.row{
			padding:auto 0% auto 0%;

		}
		.row-fluid{
			padding:auto 1% auto 1%;
		}
		.title h2{
			font-size: 40px;
		}
		.r{padding: 0 0;}
		.b{padding:0 1%;}
		#app> div{margin-top:1%;}
	}

/*HOME*/
	#home{
		/*background-image: url("../images/home/back2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;*/
		background-image: url("../images/backgrounds/dark_wood.png");
		background-repeat:repeat;
		z-index: 1;
	}
	#home>.row:nth-child(2){background:rgba(0,0,0,0.5);}
	#coverpic{
		height:60vh;
	}
	#profilepic{
		/*border:5px solid #b24531;*/
		height:50vh;
		width:50vh;
		margin-top:-25vh;
	}
	#name_cont{/*
		border:4px solid #b24531;*/
		height:20vh;
		margin-top:5vh;
		margin-bottom: 15vh;
	}
	#name{
		font-size: 80px;
		font-family: "Lato";
		font-weight: 300;
		font-style: italic;
		color:white;
	}
	#name strong{
		font-size: 110px;
		font-style: italic;
		font-weight: 300;
	}
	@media screen and (max-width:992px){
		#coverpic{
			height:38vh;
		}
	}

/*ABOUT*/

/*SKILLSET*/
	.outer{
		min-height:7vh;
		padding:0;
	}
	.progress{
		background-color: #d0d0d0;
	}
	/*.level{
		width:50%;
	}*/
	#web .level{
		background-color: #2979ff;
	}
	#prog .level{
		background-color: #7cb342;
	}
	#frame .level{
		background-color: #f44336;
	}
	/*SKILL LEVEL*/
		#html{width:90%;}
		#css{width:80%;}
		#js{width:65%;}
		#jq{width:45%;}
		#php{width:40%;}
		#sql{width:55%;}
		#c{width:70%;}
		#cplus{width:40%;}
		#java{width:50%;}
		#py{width:85%;}
		#bs{width:80%;}
		#skjs{width:60%;}
		#anjs{width:50%;}
	@media screen and (max-width:992px){
		/*#skillset{
			padding-left:0.5%;
		}*/
	}


/*SHOWCASE*/
	#showcase h2{
		font-size: 36px;
	}
	#showcase .title h2{
		font-size: 50px;
	}
	#showcase .content{
		font-size: 26px;
	}

/*EXPERIENCE*/
/*ACHIEVEMENTS*/
/*EXTRACURRICULARS*/
/*CONTACT*/
	#contact{
		background:#181818;
		/*background-color:  #f44336;*/
		background-image: url("../images/backgrounds/diagmonds.png");
		background-repeat:repeat;
	}
	#contact .title{
		border-bottom:2px solid #f44336;
		margin-top: 1vh;
	}
	#contact .title h2{
		color: #fffafa;
	}
	#contact p{
		color: #fffafa;
		font-family: "Lato";
		font-style: italic;
		font-weight: 300;
		text-align: center;
	}
	#cv_btn{
		height:7vh;
		border:1px solid #fffafa;
		border-radius: 5%;
		color:#fffafa;
		text-align: center;
		font-family: "Lato";
		font-style: italic;
		font-weight: 300;
		transition:all 0.3s ease-in-out;
	}
	#cv_btn:hover{
		background:#f44336;
		border:none;
		box-shadow: 2px 5px 5px black;
		transition:all 0.3s ease-in-out;
	}
	#fb:hover,
	#li:hover,
	#gplus:hover,
	#gh:hover,
	#he:hover,
	#skype:hover{
		box-shadow: 2px 5px 5px black;
	}
	#social{
		height:auto;
		background-color: rgba(255,250,250,0.1);
		box-shadow: 2px 2px 5px black;
		padding-top:1%;
		padding-bottom: 1%;
	}
	#socialnetwork{
		margin-top:1.5%;
	}
	#cv{
		margin-top:2%;
	}
	@media screen and (max-width:992px){
		#contact .content{
			padding-top:15%;
		}
		#contact .content>.row:nth-child(3),
		#contact .content>.row:nth-child(4){
			margin-top:3%;
		}
		#contact .content>.row:nth-child(5){
			margin-top:5%;
		}
		#contact .content>.row:nth-child(6){
			margin-top:10%;
		}
		#cv_btn{
			background:#f44336;
			border:none;
			box-shadow: 2px 5px 5px black;
			font-size:36px;
		}
	}


/*NAVIGATION*/
	nav{
		margin:0 0;
		height:9vh;
		width:100%;
		padding:0 0;
		/*z-index: 2;*/
		/*position: fixed;*/
		background: rgba(0,0,0,0.5);
		/*border:1px solid white;*/
		margin-top: -9vh;
	}
	.fix{
		position: fixed;
		top:9vh;
	}
