@font-face {
    font-family: bebas;
    src: url(fonts/BEBAS.ttf);
}

body{
	position: relative;
}

html, body{
	background-color:#1f1f1f;
}
#outer-container{
	background-color: #1f1f1f;
}
h1{
	font-family: bebas;
	font-size: 150px;
}
p, h1{
	color:white;
}
p{
	text-shadow:2px 2px 3px black;
}
h3{
	color:white;
}
.blocks{
	/*margin:5px 0 5px 0;*/
}

/*HEADER*/
	header{
		background-color:#2f2f2f;
		height: 100%;
		background-size: cover;
		height:80%;
		vertical-align: center;
		padding:24% 0 0 0;
	}
	#profpic,#name{
		margin-top:-250px;
	}
	#profpic{
		/*margin-top:-250px;
		margin-left:100px;*/
		border: 10px solid  black;
		border-radius: 50%;
		box-shadow: 2px 2px 5px black;
	}
	/*#name{

		z-index: 1;
		vertical-align: center;
		margin-top: -150px;
	}*/
	#semi1{
		height:450px;
		width:900px;
		border-radius: 900px 900px 0 0;
		background-color: #191919;
		box-shadow: 2px 2px 5px black;
		margin-top: -225px;
		margin-left: auto;
		margin-right: auto;
	}
	#semi2{
		/*position: relative;*/
		height:250px;
		width:500px;
		border-radius: 500px 500px 0 0;
		background-color: #292929;
		box-shadow: 2px 2px 5px black;
		margin-top: -240px;
		margin-left: -50px;
		z-index: 0;
	}
	#semi3{
		/*position: relative;*/
		height:150px;
		width:300px;
		border-radius: 300px 300px 0 0;
		background-color: #3f3f3f;
		box-shadow: 2px 2px 5px black;
		margin-top: -150px;
		margin-right: auto;
		margin-left: auto;
		z-index: 0;
	}
	#quart1{
		/*position: relative;*/
	    width: 425px;
	    height: 425px;
	    background-color: #1f1f1f;
	    border-radius: 425px 0 0 0;/*
	    -moz-border-radius: 425px 0 0 0;
	    -webkit-border-radius: 425px 0 0 0;*/
	    box-shadow: 2px 2px 5px black;
	    margin-top: -420px;
	    margin-left: auto;
	    margin-right:0;
	    z-index: 0;
	}

/*CONTENT*/
	.buffer{
		width:100%;
		text-align: center;
		padding:20% 0 20% 0;
	}
	.content{
		height: 100%;
		padding:5% 5% 5% 5%;
	}
	.content h2{
		color:white;
		font-family: bebas;
		display:none;
	}
	.buffer h2{
		font-size: 70px;
		color:rgba(255,255,255,0.8);
		text-shadow:2px 2px 5px black;
	}
	#b1{
		background-size: cover;
		background-image: url('images/buffer/about_back.jpg');
		background-repeat: no-repeat;
	  	background-attachment: fixed;
	}
	#b2{
		background-size: cover;
		background-image: url('images/buffer/skillset2.jpg');
		background-repeat: no-repeat;
	  	background-attachment: fixed;
	}
	#b3{
		background-size: cover;
		background-image: url('images/buffer/accolades2.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	#b4{
		background-size: cover;
		background-image: url('images/buffer/skillset2.jpg');
		background-repeat: no-repeat;
	  	background-attachment: fixed;
	}
	#b5{
		background-size: cover;
		background-image: url('images/buffer/extra1.jpg');
		background-repeat: no-repeat;
	  	background-attachment: fixed;
	}
	#b6{
		background-size: cover;
		background-image: url('images/buffer/show.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	#b7{
		background-size: cover;
		background-image: url('images/buffer/contact.jpg');
		background-repeat: no-repeat;
	  background-attachment: fixed;
	}
  .down{
    margin-top:14.5%;
  }
	p{
		font-size: 20px;
	}

	#contact p{
		text-align: center;
	}
	#contact{
		margin-bottom:3%;
		padding-top:3%;
	}

/*NAV*/
	@grid-float-breakpoint:1345px;
	nav{
		/*background-color: #2f2f2f;*/
		background: -moz-linear-gradient( top, #000, #000, #000, #2f2f2f) fixed;
		/*border-top:1px solid white;*/
	}
  nav .container{
  }
	nav ul{
		width:100%;
	}
  nav ul li{
    width:140.5px;
    text-align: center;
  }
	nav ul li a{
		font-size: 16px;
	}
	nav ul li:hover a{
		background: -moz-linear-gradient( top, #000, #000, #000, #2f2f2f) fixed;;
		box-shadow: 2px 2px 5px black inset;
		color:#337AB7;
		/*border:1px solid black;*/
	}


/*ABOUT*/
	#about {
		/*height:900px;*/
		height:135vh;
	}
	#general{
		margin:0 0 25px 0;
	}
	#school{
		margin:25px 0 25px 0;
	}
	#college{
		margin:40px 0 25px 0;
	}

/*SKILL SET*/
	.skill_cont{
		/*width:800px;*/
		height:44px;
		background-color: #2f2f2f;
		margin-left:auto;
		margin-right: auto;
		padding:4px 2px 4px 5px;
		box-shadow: 2px 2px 5px black inset;
	}
	.cont_inner{
		height:36px;
		padding:2px 0 2px 20px;
		background-color:  #337AB7;
		box-shadow: 2px 2px 5px black;
		/*margin:0 auto;*/
	}
	.cont_inner p{
		color:white;
		font-size: 24px;
	}
	.titlebar{
		background-color: #28F943;
	}
	#webd .cont_inner{width:90%;}
	#html .cont_inner{width:97%;}
	#css .cont_inner{width:95%;}
	#js .cont_inner{width:75%;}
	#jquery .cont_inner{width:60%;}
	#php .cont_inner{width:55%;}
	#sql .cont_inner{width:78%;}
	#prog .cont_inner{width:75%;}
	#c .cont_inner{width:80%;}
	#java .cont_inner{width:75%;}
	#python .cont_inner{width:90%;}
	#csharp .cont_inner{width:55%;}
	#cplus .cont_inner{width:60%;}
	#design .cont_inner{width:70%;}
	#photoshop .cont_inner{width:60%;}
	#crypto .cont_inner{width:55%;}

/*ACCOLADES*/
	#accolade{
		height:500px;
	}
	#accolade ul li{
		font-size: 24px;
		color:white;
		text-shadow:2px 2px 5px black;
	}

/*EXTRA*/
	#extra .title{
		font-family: bebas;
		font-size: 50px;
		color: #337AB7;
		background-color: #181818;
		text-align: center;
		box-shadow: 2px 2px 5px black inset;
		text-shadow:2px 2px 5px black;
	}
	#extra{
		/*margin-bottom: 20px;*/
		height:1000px;
	}
	#sports ul li{

	}

/*SHOWCASE*/
	#showcase .title{
		font-family: bebas;
		font-size: 50px;
		color: #337AB7;
		background-color: #181818;
		text-align: center;
		box-shadow: 2px 2px 5px black inset;
		text-shadow:2px 2px 5px black;
	}
	#showcase img{
		box-shadow: 2px 2px 5px black;
		margin:5px 2px 2px 2px;
	}

/*CONTACTS*/
	#social{
		padding:8px 0;
		box-shadow: 2px 2px 5px black inset;
	}
	#social a img{
		opacity:0.4;
	}
	#social a:hover{
		text-decoration: none;
	}
	#social a:hover img{
		opacity:1.0;
		box-shadow: 3px 3px 5px black;
	}
	#social a:first-child{
		margin-left:23%;
	}
	#social a{
		margin:0 6px;
	}
