html,body{
	padding:0 0;
	margin: 0 0;
}
#back_container{
	margin:0 0;
	height: 100%;
	width:100%;
	position: fixed;
	overflow: hidden;
	background: #19943E;
}
#card_container{
	height:95%;
	width:50%;
	position: absolute;
	/*border:1px solid black;*/
	margin:-15% auto auto 25%;/*
	transform:scale(1.5,1.5);
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);*/
	/*transform:translateY(-25%);
	-webkit-transform:translateY(-25%);
	-moz-transform:translateY(-25%);*/
}
#layer1{
	position:relative;
	height:50%;
	width:100%;
	/*border:1px solid red;*/
	transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	transform-origin:center bottom;
	-moz-transform-origin:center bottom;
	-webkit-transform-origin:center bottom;
	transform:rotateX(0deg);
	-moz-transform:rotateX(0deg);
	-webkit-transform:rotateX(180deg);
	
}
#layer2{
	position:relative;
	height:50%;
	width:100%;
	/*border:1px solid blue;*/
	transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	transform-origin:center top;
	-moz-transform-origin:center top;
	-webkit-transform-origin:center top;
}
#layer1 div{
	
}
.front{
	position:absolute;
	height:100%;
	width:100%;
	background:#0f0f0f;
	backface-visibility:hidden;
	transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-webkit-transform:rotateX(180deg);
}
.back{
	position:absolute;
	height:100%;
	width:100%;
	background:white;
	backface-visibility:hidden;
	border-bottom:1px solid black;
}
.above{
	
}
.below{
	
}

#helper {
    position:absolute;
    left:0;
    top: 0;
    height:50%;
    width: 20px;
}
.marker {
    height: 25%;
    width: 100%;
}

#block_cont{
	width:305px;
	height:305px;
	/*border:1px solid white;*/
	padding:0 0;
	position:absolute;
	margin:0 auto 0 26%;
}
.block{
	display:inline-block;
	height:32.3%;
	width:32.3%;
	/*border:1px solid red;*/
	margin:0 0;
	padding:0 0;
	position:relative;
}

.heads{
	height:100%;
	width:100%;
	position:absolute;
	color:white;
	backface-visibility:hidden;
}
.tails{
	height:100%;
	width:100%;
	position:absolute;
	transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	backface-visibility:hidden;
	background:white;
}

#block_cont .block:nth-child(1) .heads,
#block_cont .block:nth-child(3) .heads,
#block_cont .block:nth-child(5) .heads,
#block_cont .block:nth-child(7) .heads,
#block_cont .block:nth-child(9) .heads{
	background:#fa2600;
}
#block_cont .block:nth-child(1) .tails{
	background-image: url('img/t1.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#block_cont .block:nth-child(2) .tails{
	background-image: url('img/t2.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#block_cont .block:nth-child(3) .tails{
	background-image: url('img/t3.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#block_cont .block:nth-child(4) .tails{
	background-image: url('img/t4.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#block_cont .block:nth-child(5) .tails{
	background-image: url('img/t5.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#block_cont .block:nth-child(6) .tails{
	background-image: url('img/t6.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#block_cont .block:nth-child(7) .tails{
	background-image: url('img/t7.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#block_cont .block:nth-child(8) .tails{
	background-image: url('img/t8.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#block_cont .block:nth-child(9) .tails{
	background-image: url('img/t9.png');
	background-repeat: no-repeat;
	background-size: cover;
}